<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> [mock] Signeringstjeneste </title>

    <style>
        button {
            padding:30px;
            background-color:#33cc59;
            border: none;
            color: white;
            font-weight:bold;
            font-size: 16px;
            border-radius: 4px;
            }
        .second {
            padding:15px;
        }
        div {
            padding-bottom:30px;
            padding-top:30px;
        }
    </style>

<body>
<h1> Simuler signering av dokukment her: </h1>

<div>
    <button type="button"> Signer </button>
    <button type="button"> Avbryt </button>
    <button type="button"> Error </button>
</div>
<div>
    <button type="button" class="second"> Xades </button>
    <button type="button" class="second"> Pades </button>
    <button type="button" class="second"> Error </button>
</div>

</body>
<script>

</script>
</html>