<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> Start Signature Job</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    tr, th {
        padding:15px;
        }

</style>
<body>
<h1> Velkommen til Difis e-signering!</h1>
<p> Velg et dokument som skal signeres. </p>

<div>
    <form method="post" action="simulertLogin.html"  target="_newtab">
        <table>
            <tr>
                <th> Dokument</th>
                <th> Type </th>
                <th> Er signert </th>
                <th> Signere? </th>
            </tr>
            <tr>
                <th> <a href="..\Documents\Dokument_til_signering2.docx"> Dokument til signering 2 </a> </th>
                <th> docx </th>
                <th> <p id="1"> no</p> <button type="button" onclick="changeText()" id="signed"> Merk som signert </button> </th>
                <th> <input type="submit" value="Send til signering" id="sent">  </input> </th>
                <th> <a id="send" href="signaturStatus.html" style="color:white"> Trykk her for å laste ned signert dokument  </a></th>
            </tr>
            <tr>
                <th> <a href="..\Documents\Dokument til signering.pdf"> Dokument til signering 1 </a> </th>
                <th> pdf </th>
                <th> - </th>
                <th> <input type="submit" value="Send til signering" >  </input> </th>
            </tr>
            <tr>
                <th> <a href="..\Documents\Dokument til signering 3.pdf"> Dokument til signering 3 </a> </th>
                <th> pdf </th>
                <th> - </th>
                <th> <input type="submit" value="Send til signering" >  </input> </th>
            </tr>
            <tr>
                <th> <a href="..\Documents\Dokument_til_signering4.docx"> Dokument til signering 4 </a> </th>
                <th> docx </th>
                <th> - </th>
                <th> <input type="submit" value="Send til signering" >  </input> </th>
            </tr>
            <tr>
                <th> <a href="..\Documents\Dokument til signering 5.pdf"> Dokument til signering 5 </a> </th>
                <th> pdf </th>
                <th> - </th>
                <th> <input type="submit" value="Send til signering" >  </input> </th>
            </tr>



        </table>
    </form>
</div>
</body>
<script>
    var text = document.getElementById("1");
    var link = document.getElementById("send");
    function changeText(){
        text.innerHTML = "yes";

        var signed = document.getElementById("signed");
        signed.parentNode.removeChild(signed);
        var sent = document.getElementById("sent");
        sent.parentNode.removeChild(sent);

        link.style.color = "blue";

        }
</script>
</html>